<div
  class="container img-thumbnail shadow p-3 mb-5 bg-white rounded "
  id="contenido"
>
  <div class="row" id="title">
    <div class="col-lg-12 text-center">
      <h1 id="texto">Tus cuentas</h1>
    </div>
  </div>
  <div class="row mb-4" id="hipster">
    <div class="col-lg-7 mx-3 img-thumbnail shadow p-3  bg-white rounded">
      <div
        id="chartContainer"
        style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"
      ></div>
      <hr />
    </div>
    <div class="col-lg-4  text-center">
      <img
        class="img-fluid"
        src="../assets/imagenes/d6b60ecb79104898ea77e2919743ac70-man-hipster-beard-glasses-hat-tattoo-suspenders-braces-phone-flat-by-vexels.png"
        alt=""
      />
      <h3>Cunto hay pa' gastar</h3>
      <hr />
      <div class="align-text-center " id="dinero">
        $122.222.222
      </div>
    </div>
  </div>
</div>
